/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1
   Special Effects style sheet
   Author: Evan Conley
   Date:   2/25/2017

   Filename:         dweffects.css
   Supporting Files: 

*/


