/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1

   dessertWeb Print Styles
   Author: Evan Conley
   Date:   2/25/2017

   Filename:         dwprint.css
   Supporting Files: 

*/


